@model FutureValueModel
@{
    ViewBag.Title = "Bret's Pet Grooming Services and More!";
}
<div class="text-center">
<h1>Bret's Pet Grooming Services and More!</h1>
</div>

<p>Bret's Pet Grooming Services and More! offers superior grooming services in a professional environment without you having to leave the comfort of your home. </p>